swagger: '2.0'
info:
  title: mental-health
  version: 1.0.0
  description: 二级心理健康工作站

host: e20-health.xyz #(https)
basePath: /api/v1
tags:
  - name: auth
    description: 获得token
  - name: user
    description: 用户
  - name: hole
    description: 树洞
  - name: mood
    description: 心情
  - name: course
    description: 心理微课
  - name: search
    description: 搜索
  - name: upload
    description: 上传文件
  - name: message
    description: 消息提醒
  - name: reserve
    description: 预约老师
  - name: poster
    description: 海报
  - name: test
    description: 测评

schemes:
  - https

paths:
  /login/:
    post:
      tags:
        - auth
      summary: 用户登录
      description: 用学号和密码登录一站式门户
      consumes:
        - application/json
      parameters:
        - name: data
          description: login information
          in: body
          required: true
          schema:
            $ref: '#/definitions/authModel'
      produces:
        - application/json
      responses:
        200:
          description: ok
          schema:
            $ref: '#/definitions/authResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'


  /user/info/:
    get:
      tags:
        - user
      summary: 获取用户信息
      description: 返回 头像、名称、简介、手机、个人主页照片、是否是老师
      consumes:
        - application/json
      parameters:
        - name: token
          in: header
          required: true
          description: token
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/UserInfoResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

    post:
      tags:
        - user
      summary: 修改用户信息
      description: 修改用户信息（可以先GET,改变其中一两项，再POST）
      consumes:
        - application/json
      parameters:
        - name: data
          description: login information
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserInfo'
        - name: token
          in: header
          required: true
          description: token
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CodeResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'
  
  /user/info/{id}/:
    get:
      tags:
        - user
      summary: 通过学号获取用户信息
      description: 返回 头像、名称、简介、手机、个人主页照片、是否是老师
      consumes:
        - application/json
      parameters:
        - name: token
          in: header
          required: true
          description: token
          type: string
        - name: id
          in: path
          required: true
          description: 学生学号
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/UserInfoResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'
            
  /mood/new/:   
    post:
      tags:
        - mood
      summary: 添加心情指数和笔记
      description: post user mood
      consumes:
        - application/json
      parameters:
        - name: token
          in: header
          required: true
          description: token
          type: string
        - name: data
          in: body
          required: true
          description: token
          schema:
            $ref: '#/definitions/MoodInfo'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CodeResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /mood/score/:
    get:
      tags:
        - mood
      summary: 获取用户心情指数
      description: 获取用户心情指数
      consumes:
        - application/json
      parameters:
        - name: token
          in: header
          required: true
          description: token
          type: string
        - name: year
          in: query
          required: true
          description: 哪一年
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MoodScoreResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'
  
  /mood/note/:
    get:
      tags:
        - mood
      summary: 获取用户心情笔记
      description: 获取用户心情笔记
      consumes:
        - application/json
      parameters:
        - name: token
          in: header
          required: true
          description: token
          type: string
        - name: year
          in: query
          required: true
          description: 哪一年
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MoodNoteResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /hole/list/:
    get:
      tags:
        - hole
      summary: 树洞首页，获取问题列表
      description: 可以按照点赞数，收藏数，评论数排序，具体优先级到时候再商量
      parameters:
        - in: header
          name: token
          required: true
          type: string
        - in: query
          name: limit
          required: false
          description: 每一页期望的问题数量,默认为10
          type: integer
        - in: query
          name: page
          required: false
          description: 页数，默认为1
          type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  sum:
                    type: integer
                    description: 返回的问题数
                  list:
                    type: array
                    items:
                      $ref: '#/definitions/HoleResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /hole/new/:
    post:
      tags:
        - hole
      summary: 发布问题
      parameters:
        - in: header
          name: token
          description: token
          required: true
          type: string
        - in: body
          name: body
          description: 问题内容
          required: true
          schema:
            $ref: '#/definitions/HolePublish'
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  hole_id:
                    type: integer
                    description: 树洞id
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /hole/info/{id}/:
    get:
      tags:
        - hole
      summary: 获取问题详情
      parameters:
        - in: header
          name: token
          required: false
          type: string
        - in: path
          name: id
          required: true
          description: 问题id
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                $ref: '#/definitions/HoleResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /hole/{id}/like/:
    put:
      tags:
        - hole
      summary: 问题点赞
      parameters:
        - in: header
          name: token
          required: true
          type: string
        - in: path
          name: id
          required: true
          description: 点赞对象id
          type: string
        - in: body
          name: data
          required: true
          schema:
            type: object
            properties:
              like_state:
                type: boolean
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  is_like:
                    type: boolean
                    description: 点赞状态
                  like_num:
                    type: integer
                    description: 点赞数
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /hole/{id}/favorite/:
    put:
      tags:
        - hole
      summary: 问题收藏
      parameters:
        - in: header
          name: token
          required: true
          type: string
        - in: path
          name: id
          required: true
          description: 问题id
          type: string
        - in: body
          name: data
          required: true
          schema:
            type: object
            properties:
              favorite_state:
                type: boolean
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  is_like:
                    type: boolean
                    description: 收藏状态
                  like_num:
                    type: integer
                    description: 收藏数
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /hole/collection/favorite/:
    get:
      tags:
        - hole
      summary: 获取收藏过的问题
      parameters:
        - in: header
          name: token
          required: true
          type: string
        - in: query
          name: page
          required: false
          type: string
          description: 页数(默认为1)
        - in: query
          name: limit
          required: false
          type: string
          description: 每一页个数(默认为1000)
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  sum:
                    type: integer
                    description: 返回的课程数
                  list:
                    type: array
                    items:
                      $ref: '#/definitions/HoleResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /hole/comments/{id}/:
    get:
      tags:
        - hole
      summary: 获取某一问题下的全部评论
      parameters:
        - in: header
          name: token
          required: true
          type: string
        - in: path
          name: id
          required: true
          description: 问题id
          type: string
        - in: query
          name: limit
          required: true
          description: 期望的一级评论数量
          type: integer
        - in: query
          name: page
          required: true
          description: 翻页页码，默认为1
          type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  parent_comment_sum:
                    type: integer
                    description: 一级评论数
                  parent_comments_list:
                    type: array
                    description: 一级评论列表
                    items:
                      type: object
                      description: 父评论内容
                      properties:
                        id:
                          type: integer
                          description: 问题id
                        comment_id:
                          type: integer
                          description: 评论id
                        content:
                          type: string
                          description: 评论内容
                        like_num:
                          type: integer
                          description: 点赞数
                        is_like:
                          type: boolean
                          description: 是否已点赞
                        time:
                          type: string
                          description: 评课时间（时间戳）
                        is_anonymous:
                          type: boolean
                          description: 是否匿名
                        user_info:
                          type: object
                          description: 评论用户的信息
                          properties:
                            username:
                              type: string
                            avatar:
                              type: string
                              description: 头像
                            sid:
                              type: string
                              description: 学号
                        sub_comments_num:
                          type: integer
                          description: 子评论总数
                        sub_comments_list:
                          type: array
                          description: 子评论列表
                          items:
                            $ref: '#/definitions/CommentResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /hole/comment/{id}/:
    post:
      tags:
        - hole
      summary: 评论问题
      parameters:
        - in: header
          name: token
          required: true
          type: string
        - in: path
          name: id
          required: true
          description: 问题id
          type: string
        - in: body
          name: data
          required: true
          schema:
            type: object
            properties:
              content:
                type: string
                description: 评论内容
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                $ref: '#/definitions/CommentResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /hole/comment/{id}/reply/:
    post:
      tags:
        - hole
      summary: 回复评论
      parameters:
        - in: header
          name: token
          required: true
          type: string
        - in: path
          name: id
          required: true
          description: 评论id
          type: string
        - in: query
          name: sid
          required: true
          description: 评论回复的目标用户的sid
          type: string
        - in: body
          name: data
          required: true
          schema:
            type: object
            properties:
              content:
                type: string
                description: 评论内容
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                $ref: '#/definitions/CommentResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /hole/{id}/comment/like/:
    put:
      tags:
        - hole
      summary: 评论点赞
      parameters:
        - in: header
          name: token
          required: true
          type: string
        - in: path
          name: id
          required: true
          description: 点赞对象id
          type: string
        - in: body
          name: data
          required: true
          schema:
            type: object
            properties:
              like_state:
                type: boolean
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  is_like:
                    type: boolean
                    description: 点赞状态
                  like_num:
                    type: integer
                    description: 点赞数
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /course/info/{id}/:
    get:
      tags:
        - course
      summary: 获取课程信息
      description: 获取课程信息
      parameters:
        - in: header
          name: token
          description: token
          required: true
          type: string
        - in: path
          name: id
          description: 课程id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              courseInfo:
                $ref: '#/definitions/CourseInfoResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

    post:
      tags:
        - course
      summary: 修改课程信息
      description: 修改课程信息
      parameters:
        - in: header
          name: token
          description: token
          required: true
          type: string
        - in: path
          name: id
          description: 课程id
          required: true
          type: string
        - in: body
          name: data
          required: true
          description: 课程信息
          schema:
            $ref: '#/definitions/CourseInfo'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CodeResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /course/like/{id}/:
    put:
      tags:
        - course
      summary: 课程点赞
      parameters:
        - in: header
          name: token
          required: true
          type: string
        - in: path
          name: id
          required: true
          description: 课程id
          type: string
        - in: body
          name: data
          required: true
          schema:
            type: object
            properties:
              like_state:
                type: boolean
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  is_like:
                    type: boolean
                    description: 点赞状态
                  like_num:
                    type: integer
                    description: 点赞数
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /course/collection/like/:
    get:
      tags:
        - course
      summary: 获取点赞过的课程
      parameters:
        - in: header
          name: token
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  sum:
                    type: integer
                    description: 返回的课程数
                  list:
                    type: array
                    items:
                      $ref: '#/definitions/CourseInfoResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /course/favorite/{id}/:
    put:
      tags:
        - course
      summary: 课程收藏
      parameters:
        - in: header
          name: token
          required: true
          type: string
        - in: path
          name: id
          required: true
          description: 课程id
          type: string
        - in: body
          name: data
          required: true
          schema:
            type: object
            properties:
              favorite_state:
                type: boolean
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  is_like:
                    type: boolean
                    description: 收藏状态
                  like_num:
                    type: integer
                    description: 收藏数
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /course/collection/favorite/:
    get:
      tags:
        - course
      summary: 获取收藏过的课程
      parameters:
        - in: header
          name: token
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  sum:
                    type: integer
                    description: 返回的课程数
                  list:
                    type: array
                    items:
                      $ref: '#/definitions/CourseInfoResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /search/course/:
    get:
      tags:
        - search
      summary: 搜索课程
      description: 可以搜名字和来源（不要只搜一个字）
      parameters:
        - in: header
          name: token
          required: true
          type: string
        - in: query
          name: keyword
          required: false
          type: string
          description: 关键字(默认为空)
        - in: query
          name: page
          required: false
          type: integer
          description: 页码（默认为1）
        - in: query
          name: limit
          required: false
          type: integer
          description: 每页最大数（默认为10）
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  sum:
                    type: integer
                    description: 返回的课程数
                  list:
                    type: array
                    items:
                      $ref: '#/definitions/CourseInfoResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /search/hole/:
    get:
      tags:
        - search
      summary: 搜索问题
      description: 可以搜名字和内容（不要只搜一个字）
      parameters:
        - in: header
          name: token
          required: true
          type: string
        - in: query
          name: keyword
          required: false
          type: string
          description: 关键字(默认为空)
        - in: query
          name: type
          required: false
          type: integer
          description: 0/1/2/3/4/5/6分别为全部、 环境适应、人际关系、学业学习、生活经济、求职择业、其他（默认为0）
        - in: query
          name: page
          required: false
          type: integer
          description: 页码（默认为1）
        - in: query
          name: limit
          required: false
          type: integer
          description: 每页最大数（默认为10）
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  sum:
                    type: integer
                    description: 返回的问题数
                  list:
                    type: array
                    items:
                      $ref: '#/definitions/HoleResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /upload/image/:
    post:
      tags:
        - upload
      summary: 上传头像
      description: 上传图片文件，返回url
      consumes:
      - multipart/form-data
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      - in: formData
        name: image
        required: true
        type: file
        description: 图片文件
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  url:
                    type: string
                    description: url
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /upload/video/:
    post:
      tags:
        - upload
      summary: 上传视频
      description: 上传视频文件，返回url
      consumes:
      - multipart/form-data
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      - in: formData
        name: video
        required: true
        type: file
        description: 视频文件
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  url:
                    type: string
                    description: url
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /upload/videolink/:
    post:
      tags:
        - upload
      summary: 上传视频的链接
      description: 添加视频
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      - in: query
        name: url
        required: true
        type: string
        description: 视频链接
      - in: query
        name: name
        required: true
        type: string
        description: 视频名称
      - in: query
        name: source
        required: true
        type: string
        description: 视频来源
      - in: query
        name: summary
        required: true
        type: string
        description: 视频简介
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  id:
                    type: string
                    description: 课程id
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'
            
  /message/all/:
    get:
      tags:
        - message
      summary: 获取所有消息提醒
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      - in: query
        name: page
        required: false
        type: integer
        description: 页码(默认1)
      - in: query
        name: limit
        required: false
        type: integer
        description: 每页最大数（默认10）
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                $ref: '#/definitions/MessageResponseList'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /message/count/:
    get:
      tags:
        - message
      summary: 获取未读消息的数目
      description: 进入页面前显示有几条未读消息
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CodeResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /message/readall/:
    get:
      tags:
       - message
      summary: 读取消息提醒
      description: 将所有消息的状态从未读变成已读
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'
      
  /reserve/teacherlist/:
    get:
      tags:
        - reserve
      summary: 查看可预约的老师
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/TeacherInfo'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /reserve/query/:
    get:
      tags:
        - reserve
      summary: 查询一个时间段是否可以预约
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      - in: query
        name: weekday
        required: true
        type: integer
        description: 周几，范围1-7
      - in: query
        name: schedule
        required: true
        type: integer
        description: 哪个时间段，范围1-6
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  can_reserve:
                    type: boolean
                    description: 是否可以预约
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'
            
  /reserve/new/:
    post:
      tags:
        - reserve
      summary: 进行预约
      description: 一定要先查询啊，通过了再预约
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      - in: body
        name: body
        description: 时间段
        required: true
        schema:
          $ref: '#/definitions/ReserveRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CodeResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /reserve/check/:
    put:
      tags:
        - reserve
      summary: 审核预约
      description: 在老师回复后，接受/拒绝预约
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      - in: body
        name: body
        description: 时间段
        required: true
        schema:
          $ref: '#/definitions/ReserveCheckRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CodeResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'
            
  /reserve/form/:
    get:
      tags:
        - reserve
      summary: 查询预约时间表
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/FormResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'
            
  /reserve/record/:
    get:
      tags:
        - reserve
      summary: 我的记录
      description: 记录预约状态
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ReserveRecordResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'
  
  /poster/info/:
    get:
      tags:
        - poster
      summary: 获取海报信息
      description: 返回首页海报，平台介绍，树洞海报
      consumes:
        - application/json
      parameters:
        - name: token
          in: header
          required: true
          description: token
          type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PosterResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'
    
    post:
      tags:
        - poster
      summary: 修改海报信息
      description: 修改首页海报，平台介绍，树洞海报
      consumes:
        - application/json
      parameters:
        - name: token
          in: header
          required: true
          description: token
          type: string
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/PosterRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CodeResponse'
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '404':
          description: not found
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'
            

  /test/new/:
    post:
      tags:
        - test
      summary: 上传测评的链接
      description: 添加测评
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/TestRequest'
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              code:
                type: integer
              message:
                type: string
              data:
                type: object
                properties:
                  id:
                    type: string
                    description: 测评id
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'

  /test/info/{id}/:
    get:
      tags:
        - test
      summary: 获取测评信息
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      - name: id
        in: path
        type: integer
        required: true
        description: 测评id
      responses:
        "200":
          description: OK
          schema:
           $ref: '#/definitions/TestRequest' 
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'
    
  /test/list/:
    get:
      tags:
        - test
      summary: 获取测评列表
      parameters:
      - in: header
        name: token
        required: true
        type: string
        description: token
      - in: query
        name: limit
        required: false
        description: 每一页期望的问题数量,默认为10
        type: integer
      - in: query
        name: page
        required: false
        description: 页数，默认为1
        type: integer
      responses:
        "200":
          description: OK
          schema:
           $ref: '#/definitions/TestRequestList' 
        '400':
          description: bad request
          schema:
            $ref: '#/definitions/CodeResponse'
        '401':
          description: 未授权
          schema:
            $ref: '#/definitions/CodeResponse'
        '500':
          description: 服务器错误
          schema:
            $ref: '#/definitions/CodeResponse'
            
definitions:
  authModel:
    required:
      - sid
      - password
    properties:
      sid:
        type: integer
        description: 学生学号
      password:
        type: string
        description: 一站式门户的密码
      jscode:
        type: string
        description: 用于获取小程序openid


  authResponse:
    properties:
      code:
        type: integer
      message:
        type: string
      data:
        type: object
        properties:
          token:
            type: string
            description: token
            example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1OTUwNjU1MDQsImlkIjoxLCJuYmYiOjE1OTUwNjU1MDR9.qa37IXE3LRh57HUxlouA5Oebslzmm8LSJnrWRz0-zUE"
          is_new:
            type: integer
            description: 是不是新用户


  UserInfo:
    required:
      - username
      - avatar
      - introduction
      - phone
      - back_avatar
    properties:
      username:
        type: string
        description: 用户名称
      avatar:
        type: string
        description: 用户头像
      introduction:
        type: string
        description: 用户简介
      phone:
        type: string
        description: 用户手机号
      back_avatar:
        type: string
        description: 个人主页照片
      is_teacher:
        type: boolean
        description: 是否是老师
      sid:
        type: string
        description: 用户学号
  
  TeacherInfo:
    properties:
      id:
        type: integer
        description: 用户id
      username:
        type: string
        description: 用户名称
      avatar:
        type: string
        description: 用户头像
      introduction:
        type: string
        description: 用户简介
      phone:
        type: string
        description: 用户手机号
      back_avatar:
        type: string
        description: 个人主页照片
      is_teacher:
        type: boolean
        description: 是否是老师
      sid:
        type: string
        description: 用户学号
        
  MoodInfo:
    required:
      - score
    properties:
      score:
        type: integer
        description: 心情分数
      note:
        type: string
        description: 心情记录


  MoodScoreResponse:
      type: array
      description: 所有的心情分数
      items:
        $ref: "#/definitions/MoodScoreMonth"
  
  MoodScoreMonth:
    properties:
      month:
        type: integer
        description: 月份
      list:
        type: array
        description: 某年中某个月的所有的心情分数
        items:
          $ref: "#/definitions/MoodScoreItem"
    
  MoodScoreItem:
    type: object
    description: 心情的日期和分数
    properties:
      date:
        type: integer
        description: 从1-31
      score:
        type: integer
        description: 从1-5（或者1-10？）


  MoodNoteResponse:
      type: array
      description: 所有的心情笔记
      items:
        $ref: "#/definitions/MoodNoteMonth"
  
  MoodNoteMonth:
    properties:
      month:
        type: integer
        description: 月份
      list:
        type: array
        description: 某年中某个月的所有的心情笔记
        items:
          $ref: "#/definitions/MoodNoteItem"
  
  MoodNoteItem:
    type: object
    description: 心情的日期和笔记
    properties:
      date:
        type: string
        description: 具体的日期（2020.07.30）
      note:
        type: string
        description: 笔记的内容


  UserInfoResponse:
    properties:
      code:
        type: integer
      message:
        type: string
      data:
        $ref: '#/definitions/UserInfo'
  
  
  CodeResponse:
    type: object
    properties:
      code:
        type: integer
      message:
        type: string
      data:
        type: object

  HolePublish:
    type: object
    properties:
      header:
        type: string
        description: 问题标题
      type:
        type: integer
        description: 分类，1/2/3/4/5分别为 环境适应、人际关系、学业学习、生活经济、求职择业
      content:
        type: string
        description: 问题描述

  HoleResponse:
    type: object
    description: 返回的问题信息模型
    properties:
      id:
        type: integer
        description: 问题id
      type:
        type: integer
        description: 问题类型（1/2/3/4/5/6）
      name:
        type: string
        description: 问题名称
      content:
        type: string
        description: 问题内容
      like_num:
        type: integer
        description: 点赞数
      read_num:
        type: integer
        description: 浏览数
      favorite_num:
        type: integer
        description: 收藏数
      is_like:
        type: boolean
        description: 当前用户是否已点赞
      is_favorite:
        type: boolean
        description: 当前用户是否已收藏
      time:
        type: integer
        description: 问题发布时间(时间戳)
      comment_num:
        type: integer
        description: 一级评论数
      user_info:
        type: object
        description: 发布问题的用户信息
        properties:
          username:
            type: string
          avatar:
            type: string
            description: 头像
          sid:
            type: string
            description: 学号
  
  CommentResponse:
    type: object
    properties:
      id:
        type: integer
        description: 评论id
      content:
        type: string
        description: 评论内容
      like_num:
        type: integer
        description: 点赞数
      is_like:
        type: boolean
        description: 是否已点赞
      time:
        type: string
        description: 评课时间（时间戳）
      user_info:
        type: object
        description: 用户信息
        properties:
          username:
            type: string
          avatar:
            type: string
            description: 头像
          sid:
            type: string
            description: 学号
          is_teacher:
            type: boolean
            description: 是否是老师
      target_user_info:
        type: object
        description: 评课对象信息
        properties:
          id:
            type: integer
            description: 用户id

  CourseInfoResponse:
    type: object
    description: 课程信息返回值
    properties:
      url:
        type: string
        description: 课程地址
      name:
        type: string
        description: 课程名称
      source:
        type: string
        description: 课程来源
      summary:
        type: string
        description: 课程简介
      like_num:
        type: integer
        description: 课程点赞数
      favorite_num:
        type: integer
        description: 课程收藏数
      time:
        type: string
        description: 创建时间

  CourseInfo:
    type: object
    description: 课程信息返回值
    properties:
      url:
        type: string
        description: 课程地址
      name:
        type: string
        description: 课程名称
      source:
        type: string
        description: 课程来源
      summary:
        type: string
        description: 课程简介

  MessageResponseList:
    type: array
    description: 消息提醒列表
    items:
      $ref: '#/definitions/MessageResponseItem'
  
  MessageResponseItem:
    type: object
    description: 一个消息提醒
    properties:
      type:
        type: integer
        description: 消息类型,0/1/2分别为 点赞，收藏，评论
      user_info:
        type: object
        description: 用户信息
        properties:
          username:
            type: string
            description: 用户名称
          avatar:
            type: string
            description: 用户头像
          sid:
            type: string
            description: 用户学号
          is_teacher:
            type: boolean
            description: 是否是老师
      hole_id:
        type: integer
        description: 问题id
      is_read:
        type: boolean
        description: 是否阅读
      reply:
        type: string
        description: （评论）回复的内容，可能为空
      content:
        type: string
        description: 评论的内容
      time: 
        type: string
        description: 消息时间
      sid:
        type: string
        description: 用户学号
      parent_comment_id:
        type: integer
        description: 一级评论id

  PosterResponse:
    properties:
      code:
        type: integer
      message:
        type: string
      data:
        type: object
        properties:
          home:
            type: string
            description: 首页海报
          platform:
            type: string
            description: 平台介绍
          hole:
            type: string
            description: 树洞海报

  PosterRequest:
    properties:
      home:
        type: string
        description: 首页海报
      platform:
        type: string
        description: 平台介绍
      hole:
        type: string
        description: 树洞海报
      
  ReserveQuery:
    type: object
    properties:
      weekday:
        type: string
        description: 周几，范围1-7
      schedule:
        type: string
        description: 哪个时间段，范围1-6
  
  ReserveRequest:
    required:
      - weekday
      - schedule
      - type
      - method
    properties:
      weekday:
        type: integer
        description: 周几，范围1-7
      schedule:
        type: integer
        description: 哪个时间段，范围1-6
      type:
        type: integer
        description: 预约类别，1-6为环境适应，人际关系，学业学习，生活经济，求职择业，其他
      method:
        type: integer
        description: 0/1=线上预约/线下预约
      module_id:
        type: integer
        description: 订阅消息的模板id
  
  ReserveCheckRequest:
    properties:
      weekday:
        type: integer
        description: 周几，范围1-7
      schedule:
        type: integer
        description: 哪个时间段，范围1-6
      check:
        type: boolean
        description: true为接受，false为拒绝
        
  FormResponse:
    type: array
    items:
      $ref: '#/definitions/ReserveFormResponse'

  ReserveFormResponse:
    properties:
      weekday:
        type: integer
        description: 周几，范围1-7
      date:
        type: string
        description: 日期
        example: '2020-08-30'
      item:
        type: array
        description: 预约状态表,从今天的两天后开始，比如假设今天周四，就会按顺序给出周六到下周五的预约情况。
        items:
          $ref: '#/definitions/ReserveFormItem'
      
  ReserveFormItem:
    type: object
    description: 七天中的一天
    properties:
      Id:
        type: integer
        description: 第几个时间段
      teacher:
        type: integer
        description: 对应时间段的老师id
      reserve:
        type: integer
        description: 预约状态，0/1/2分别为 可预约或审核失败/审核中/审核成功 （只有0可以预约）

  ReserveRecordResponse:
    type: array
    description: 我的记录
    items:
      $ref: '#/definitions/ReserveRecordItem'
      
  ReserveRecordItem:
    properties:
      time:
        type: string
        description: 时间
      type:
        type: integer
        description: 类型,0/1/2为发起预约/接受预约/拒绝预约
      teacher:
        type: string
        description: 老师名字
  
  TestRequest:
    properties:
      id:
        type: integer
        description: 测评id
      url:
        type: string
        description: 测评链接
      header:
        type: string
        description: 测评标题
      content:
        type: string
        description: 测评文案
      image: 
        type: string
        description: 图片的url
  
  TestRequestList:
    type: array
    description: 测评列表
    items:
      $ref: '#/definitions/TestRequest'
